.row {
  display: flex;
  flex-wrap: wrap;
}

.column,
.column-half,
.column-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-full {
  flex-basis: 100%;
}

.column-half {
  flex-basis: 40%;
}

.column-card {
  min-width: calc(102vh / 3);
}

.column-third {
  flex-basis: calc(100% / 3);
}

.header-button {
  flex-basis: 10%;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 550px) {
  .column {
    flex-basis: 100%;
  }

  .column-card,
  .column-third {
    flex-basis: 100%;
    min-height: 50vh;
  }

  .head .column {
    justify-content: left;
  }

  .column-half {
    flex-basis: 100%;
  }
}
