.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-full {
  flex-basis: 100%;
}

.column-half {
  flex-basis: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-button {
  flex-basis: 10%;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 415px) {
  .column {
    flex-basis: 100%;
    justify-content: left;
  }

  .column-half {
    flex-basis: 100%;
  }
}
