* {
  font-family: Rubik, sans-serif;
}

body,
html {
  height: 100%;
}

body {
  min-height: 100vh;
  background-color: #ede2ce;
}

.head {
  min-height: 3.5rem;
  background-color: #0f233f;
  border-bottom: 1px solid #ce9c4ce7;
}

.logo-name {
  font-family: Spectral, sans-serif;
  color: #ce9c4c;
  padding-left: 1rem;
  padding-right: 1rem;
}

.button,
.button-mobile {
  color: #ede2ce;
  cursor: pointer;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

button {
  cursor: pointer;
  font-size: 1rem;
  color: inherit;
  background-color: inherit;
  border: 0;
}

.menu {
  display: none;
  padding: 1rem;
}

.fas {
  font-size: 1.5rem;
  color: #ce9c4c50;
  border-radius: 0.25rem;
  padding: 0.5rem 0.594rem;
  border: 1px solid #ce9c4c20;
}

.button:active,
.button-mobile:active,
.fas:active,
.search-button:active,
.selected {
  color: #ce9c4c;
  background-color: #28599e;
}

.search {
  flex-grow: 1;
  display: flex;
  justify-content: right;
  align-items: stretch;
}

.search-form {
  margin: 0 1rem;
  display: flex;
  align-items: center;
}

.search-text {
  /* line-height: 1rem; */
  font-size: 1rem;
  padding: 0.5rem;
  width: 14rem;
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  appearance: none;
  margin: 0 0.25rem;
}

button.search-button {
  color: #ce9c4c;
  border: 1px solid #ce9c4cc7;
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin: 0 0.25rem;
}

main {
  position: relative;
  height: 100%;
}

.background {
  height: inherit;
  min-height: inherit;
}

.red-lane {
  background-color: #752437;
  height: 1rem;
}

.table-cloth {
  margin: 0 auto;
  width: 80vw;
  height: 30vw;
  overflow: hidden;
}

.table-cloth img {
  width: 100%;
  transform: translate(0, -63%);
  animation-duration: 180s;
  animation-name: season;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes season {
  from {
    transform: translate(0, -63%);
  }

  to {
    transform: translate(0, -63%) rotate(1turn);
  }
}

.container {
  position: absolute;
  top: 1rem;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: scroll;
}

.card-display {
  padding: 8rem;
  justify-content: center;
}

.card-wrapper {
  height: 40vh;
  width: calc(72vh / 3);
  padding: 0.25rem;
  background-color: #752437;
  border: 1px solid #ce9c4c;
  border-radius: 0.24rem;
  margin: 2rem;
  text-align: center;
  cursor: pointer;
}

.card {
  height: 100%;
}

.card img {
  height: 100%;
  object-fit: contain;
}

.foreground {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #292929c9;
}

.foreground .card-display {
  padding: 4rem;
  justify-content: center;
}

.foreground .card-wrapper {
  height: 60vh;
  width: calc(107vh / 3);
}

.description-wrapper {
  background-color: #752437;
  border: 1px solid #ce9c4c;
  border-radius: 0.24rem;
  margin: 2rem;
  padding: 0.5rem;
  width: auto;
  min-width: calc(105vh / 3);
  max-width: 60vh;
  height: 60vh;
  color: #ede2ce;
}

.description {
  height: 100%;
  overflow: scroll;
}

.left {
  flex-basis: auto;
}

@media only screen and (max-width: 550px) {
  main {
    height: 120vh;
  }

  .head {
    justify-content: space-between;
  }

  .logo {
    flex-basis: 70%;
    justify-content: left;
  }

  .menu {
    flex-basis: 10%;
    display: inherit;
  }

  .button {
    display: none;
  }

  .button-mobile {
    padding-left: 0.625rem;
  }

  .search {
    display: none;
  }

  .search-mobile {
    padding: 0 0.75rem;
  }

  .search-form {
    margin: 0;
    justify-content: space-between;
    flex-grow: 1;
  }

  .card-display {
    padding: 4rem;
  }

  .foreground .card-display {
    padding: 2rem;
  }

  .description-wrapper {
    margin: 0;
    height: 40vh;
    width: calc(105vh / 3);
  }
}
